span.lineNumber { 
    float: left; 
    clear: left; 
    padding-right: 10px; 
    color: #fff !important; 
    display: block; 
    width: 3em; 
    text-align: right; 
}

div.highlightLoader {
    min-height: 100px; 
    background: url(images/ajaxLoader.gif) no-repeat center center; 
    padding: 0 !important; 
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

table.syntaxhl {
    display: none; 
}

pre {
    padding: 0 !important; 
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    display: none; 
}

pre.rounded {
    padding: 0 !important; 
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    border-radius: 8px !important;
    overflow: hidden; 
    display: none; 
}

pre code {
    padding: 10px !important; 
}

pre.addPadding {
    padding: 10px !important; 
}

#HighlightSupportedLanguages span {
    border: solid 1px #aaa; 
    padding: 3px; 	
    float: left;
    display: block; 
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #000; 
    background: #eee; 
    margin: 4px;
    font-size: 8pt; 
}

hr.clear {
    clear: left;
    padding-top: 20px; 
    background: #fff; 
}

table#highlightSettings tbody tr th label {
    float: none !important;
    margin-left: 0; 
}

table#highlightSettings span.helpLink {
    margin-left: 20px; 
}

pre code.nohighlight  {
    padding: 10px !important; 
    display: block !important; 
}

fieldset.hidden {
    display: none !important; 
}
