pre {
    padding: 0 !important; 
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    display: none; 
}

pre code {
    padding: 10px !important; 
}

pre.addPadding {
    padding: 10px !important; 
}

#HighlightSupportedLanguages span {
    border: solid 1px #aaa; 
    padding: 3px; 	
    float: left;
    display: block; 
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #000; 
    background: #eee; 
    margin: 4px;
    font-size: 8pt; 
}

hr.clear {
    clear: left;
    padding-top: 20px; 
    background: #fff; 
}

table#highlightSettings tbody tr th label {
    float: none !important;
    margin-left: 0; 
}

table#highlightSettings span.helpLink {
    margin-left: 20px; 
}

pre code.nohighlight  {
    padding: 10px !important; 
    display: block !important; 
}
